{% extends 'carapp/base.html' %}
{% block body_block %}
    <form method="POST" action="{% url 'carapp:search' %}">
        {% csrf_token %}
        <label for="vehicle">Select a vehicle:</label>
        <select name="vehicle" id="vehicle">
            {% for vehicle in vehicles %}
                <option value="{{ vehicle.car_name }}" {% if selected_vehicle and selected_vehicle.car_name == vehicle.car_name %}selected{% endif %}>{{ vehicle.car_name }}</option>
        {% endfor %}
        </select>
        <button type="submit">Filter Price</button>
    {% if selected_vehicle%}
        <h1> Your Search Result </h1>
        <p>{{ price }}</p>
    {% endif %}
    </form>
{% endblock %}


